#contenedor{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
}


#colizq{
    width: 50%;
    display: flex;
    flex-direction: column;
}
    
#d11{
    height: 50%;
    background-color: green; 
    margin: 2%;
 }
 #d12{
    height: 50%;
     background-color: red;
     margin: 2%;
     margin-top: 0px;
 }


#colder{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#d21{
    height: 25%;
    background-color: blue; 
    margin: 2%;
 }
 #d22{
    height: 75%;
     background-color:blueviolet;
     margin: 2%;
     margin-top: 0px;
 }