#contenedor{
    width: 60%;
    height: 300px;
    margin: auto;
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto auto;
}

#d1{
    background-color: rgb(238, 246, 127);
    border: 1px solid black;
}
#d2{
    background-color: rgb(171, 244, 244);
    border: 1px solid black;
}