#contenedor{
    width: 60%;
    height: 300px;
    margin: auto;
    margin-top: 150px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    border: 2px dotted brown;
}
#d1{
    background-color: rgb(238, 246, 127);
    border: 1px solid black;
    width: 50%;
}
#d2{
    background-color: rgb(171, 244, 244);
    border: 1px solid brown;
    width: 50%;
}
