#contenedor{  
    width: 100%;
    height: 900px;
    float: left;
}



#d1{
    float: left;
    width: 33.3%;
    height: 900px;
    background-color: blue;
}
#d2{
    float:left;
    width: 33.3%;
    height: 900px;
    background-color: white;
}
#d3{
    float: left;
    width: 33.3%;
    height: 900px;
    background-color: red;
}

